
    p {
color: white; 
     }
	.overlay {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 191, 255, 0.3);
  backdrop-filter:blur(5px);
  padding: 20px;
  color: #fff;
  width:75%;
  height:1300px;
}
  .overlay img.a {
  width: 150px;
  height: auto;
}  
.ccc {
  font-size: 30px;
}
.overlay h1{
  font-size: 30;
}
body {
  cursor: url('mouse.png'), auto;
  
}

